<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/a.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Error Page Not Founded</h1>
            </div>
        </div>
    </div>
    
    
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.gilricardo.com">
                            Ricardo Gil
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://github.com/gilricardo-com/personal-website/blob/main/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed & Coded by Ricardo Gil
              <br>
              AWS Amplify Hosting / Angular Framework
            </div>
        </div>
    </footer>
</div>

